﻿<div style="padding: 10px;">
  
  <h3>
    Parcel Delivery Cost Calculator
  </h3>

  <div class="alert alert-danger" ng-if="validationErrors != null && validationErrors.length > 0">
    <p ng-repeat="validationError in validationErrors">{{validationError}}</p>
  </div>

  <div class="alert alert-danger" ng-if="errorMsg != null">
    {{errorMsg}}
  </div>

  <div class="form-group form-group-sm">
    <label for="weight">Weight (kg)</label>
    <input id="weight" type="text" class="form-control" ng-model="parcelInfo.weight" number-only />
    <label for="height">Height (cm)</label>
    <input id="height" type="text" class="form-control" ng-model="parcelInfo.height" number-only />
    <label for="width">Width (cm)</label>
    <input id="width" type="text" class="form-control" ng-model="parcelInfo.width" number-only />
    <label for="depth">Depth (cm)</label>
    <input id="depth" type="text" class="form-control" ng-model="parcelInfo.depth" number-only />
    
    <p></p>
    <p>
      <button class="btn btn-sm btn-primary" ng-click="calculateDeliveryCost()" ng-disabled="isSearching">
        <i class="glyphicon glyphicon-search"></i>
        Calculate Delivery Cost
      </button>
    </p>
  </div>

  <div class="list-group" ng-show="isInProgress || deliveryCost != null">
    <div class="list-group-item" ng-show="isInProgress">
      <div class="text-center">
        <img src="~/apps/images/ajax-loader.gif" />
      </div>
    </div>
    <div id="deliveryCostDiv" class="list-group-item" ng-if="deliveryCost != null">
      <span>Delivery Cost:</span>
      
      <span ng-if="deliveryCost.postage >= 0" class="label label-info">{{deliveryCost.ruleName}}</span>
      <span ng-if="deliveryCost.postage < 0" class="label label-danger" id="rejectspan">{{deliveryCost.ruleName}}</span>

      <span ng-if="deliveryCost.postage >= 0">{{deliveryCost.postage | currency}}</span>
      <span ng-if="deliveryCost.postage < 0" id="naDiv">N/A</span>
    </div>
  </div>
</div>