﻿
@using System.Threading
@{
  var shortDateFormat = Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern;
}

<div class="input-group">
  <input id="{{inputId}}" type="text" class="form-control"
         ng-model="model" datepicker-popup="@(shortDateFormat)" is-open="isOpen" />
  <span class="input-group-btn">
    <button class="btn btn-default btn-sm" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</div>
